@include aoa-bg-series($bg__init,$classes_init);

.about,.combos,.menu{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.combos,.menu{
    &-s2{
        background-blend-mode: overlay !important;
        background-color: #ccc !important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize:none;
}

@media all and (max-width: 767px){
    .about,.combos,.menu{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .about{
        &-s2{
            background-position: right!important;
        }
    }
    .contact{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
            background-position: center;
        }
    }
    .navbar{
        &-toggler{
            background-color: #555;
            border-color: #333;
        }
        &-nav{
            background-color: #555;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
}