$prefix: "../../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg";
$bg__combos-img: 
    $prefix+"img/combos/combos-s1.jpg",
    $prefix+"img/combos/combos-s2.jpg",
    $prefix+"img/combos/combos-s3.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__menu-img: 
    $prefix+"img/menu/menu-s1.jpg",
    $prefix+"img/menu/menu-s2.jpg",
    $prefix+"img/menu/menu-s3.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__reservation-img: $prefix+"img/reservation/reservation-s1.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "about",
    "combos",
    "comingsoon",
    "contact",
    "error",
    "index",
    "menu",
    "privacy",
    "reservation",
    "user";
$classes_init:
    $bg__about-img,
    $bg__combos-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__menu-img,
    $bg__privacy-img,
    $bg__reservation-img,
    $bg__user-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;